@{
  ViewBag.Title = "About Us";
}

<!-- Start Nav Backed Header -->
<div class="nav-backed-header parallax" style="background-image:url(@Url.Content("~/images/page_headers/about_us.jpg"));">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li>@Html.ActionLink("Home", "Index", "Home", null, new { style = "color: #3E2300;" })</li>
          <li class="active" style="color: #900604">About Us</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- End Nav Backed Header -->
<!-- Start Page Header -->
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 style="color: #900604">About Us</h1>
      </div>
    </div>
  </div>
</div>
<!-- End Page Header -->
<div class="main" role="main">
  <div id="content" class="content full">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <header class="single-post-header clearfix">
            <h2 class="post-title" style="color: #900604">Shree Ghoghari Vishashrimali Jain Mahila Federation </h2>
          </header>
          <div class="post-content">
            <div class="row">
              <div class="col-md-12 margin-15">
                <div>
                  <h4 style="text-decoration: underline"> History </h4>
                </div>

                <p class="text-justify">Shree Ghoghari Vishashrimali Jain Mahila Federation History: Shree Ghoghari Vishashrimali Jain Mahila Federation is a national level organization founded in the year 1996. It is an apex consortium entity which includes 35 Ghoghari Mahila Mandal across India and constitutes 5000 members.</p>
              </div>

              <div class="col-md-12">
                <div>
                  <h4 style="text-decoration: underline"> Activities </h4>
                </div>

                <p class="text-justify">For the welfare of the society it is actively doing various activities. Following is the list of activities undertaken by them:</p>
                <ol>
                  <li> Kelvani Sahay i.e. paying fees to Vidhyarthi (Students).</li>
                  <li> Higher education loan. </li>
                  <li> Health care camps. </li>
                  <li> Matrimony for all Jain Yuvak Yuvti (Youngsters) </li>
                  <li> Yuva Mela. </li>
                  <li> Swasraysetu i.e. giving loans to women for Grahudyog (Household) </li>
                  <li> It has also launched a Magazine named “Sunari” which entails informative articles on multiple subjects. </li>
                </ol>
              </div>
            </div>
          </div>
          <hr>
          <h3>Our Committee</h3>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="grid-item staff-item">
            <div class="grid-item-inner">
              <div class="media-box"> <img src="@Url.Content("~/images/committee_member_profile/nayana_doshi.jpg")" alt="Nayana Doshi"> </div>
              <div class="grid-content">
                <h3>Mrs. Nayana Doshi</h3>
                <p>Committee Member</p>
                <p> Phone Number: 09867294479 </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="grid-item staff-item">
            <div class="grid-item-inner">
              <div class="media-box"> <img src="http://placehold.it/500x670&amp;text=IMAGE+PLACEHOLDER" alt="Bhavna Sanghavi"> </div>
              <div class="grid-content">
                <h3>Mrs. Bhavna Sanghavi</h3>
                <p>Committee Member</p>
                <p> Phone Number: </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="grid-item staff-item">
            <div class="grid-item-inner">
              <div class="media-box"> <img src="http://placehold.it/500x670&amp;text=IMAGE+PLACEHOLDER" alt="Ila Thar"> </div>
              <div class="grid-content">
                <h3>Mrs. Ila Thar</h3>
                <p>Committee Member</p>
                <p>Phone Number: </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

