@{
    ViewBag.Title = "About Us";
}

<!-- Start Nav Backed Header -->
<div class="nav-backed-header parallax" style="background-image:url(@Url.Content("~/images/page_headers/about_us.jpg"));">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li>@Html.ActionLink("Home", "Index", "Home", null, new { style = "color: #3E2300;" })</li>
          <li class="active" style="color: #900604">About Us</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- End Nav Backed Header -->
<!-- Start Page Header -->
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 style="color: #900604">About Us</h1>
      </div>
    </div>
  </div>
</div>
<!-- End Page Header --> 
<div class="main" role="main">
  <div id="content" class="content full">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>

          <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>

          <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
          <hr>
          <h3>Our Committee</h3>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="grid-item staff-item">
            <div class="grid-item-inner">
              <div class="media-box"> <img src="http://placehold.it/500x300&amp;text=IMAGE+PLACEHOLDER" alt=""> </div>
              <div class="grid-content">
                <h3>Nayna Ben</h3>
                <nav class="social-icons"> <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a> <a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a> <a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a> <a href="http://www.pinterest.com" target="_blank"><i class="fa fa-pinterest"></i></a> </nav>
                <p>Committee Member</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="grid-item staff-item">
            <div class="grid-item-inner">
              <div class="media-box"> <img src="http://placehold.it/500x300&amp;text=IMAGE+PLACEHOLDER" alt=""> </div>
              <div class="grid-content">
                <h3>Bhavna Ben</h3>
                <nav class="social-icons"> <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a> <a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a> <a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a> <a href="http://www.pinterest.com" target="_blank"><i class="fa fa-pinterest"></i></a> </nav>
                <p>Committee Member</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="grid-item staff-item">
            <div class="grid-item-inner">
              <div class="media-box"> <img src="http://placehold.it/500x300&amp;text=IMAGE+PLACEHOLDER" alt=""> </div>
              <div class="grid-content">
                <h3>Ila Ben</h3>
                <nav class="social-icons"> <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a> <a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a> <a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a> <a href="http://www.pinterest.com" target="_blank"><i class="fa fa-pinterest"></i></a> </nav>
                <p>Committee Member</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

