@{
  ViewBag.Title = "Forms";
}

<!-- Start Nav Backed Header -->
<div class="nav-backed-header parallax">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li>@Html.ActionLink("Home", "Index", "Home", null, new { style = "color: #3E2300;" })</li>
          <li class="active">Forms</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- End Nav Backed Header -->
<!-- Start Page Header -->
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-sm-10 col-xs-8">
        <h1>Froms</h1>
      </div>
    </div>
  </div>
</div>
<!-- End Page Header -->
<!-- Start Content -->
<div class="main" role="main">
  <div id="content" class="content full">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <header class="single-post-header clearfix">
            <h3 class="post-title">Important Forms to Download</h3>
          </header>
          <div class="post-content">
            <div class="row">
              <div class="col-md-12">
                <table class="table table-bordered table-hover table-responsive">
                  <thead>
                    <tr>
                      <th> Form Name </th>
                      <th> Form URL</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Education Loan</td>
                      <td><a href="#"> Loan form for Primary Education </a> </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>